In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

24/10/25 01:58:08 WARN Utils: Your hostname, AlienEE resolves to a loopback address: 127.0.1.1; using 10.0.0.176 instead (on interface wlp4s0)
24/10/25 01:58:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/25 01:58:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df = spark.read.json('datasets/people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [13]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [14]:
final_struct = StructType(fields=data_schema)

In [15]:
df = spark.read.json('people.json', schema=final_struct)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [5]:
df['age']

Column<'age'>

In [20]:
type(df['age'])

pyspark.sql.column.Column

In [22]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [24]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [25]:
df.head()

Row(age=None, name='Michael')

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
df.head(2)[0]

Row(age=None, name='Michael')

In [13]:
# copy column
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [12]:
# manipulate column
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [11]:
# rename column
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [16]:
# Create sql temporary view
df.createOrReplaceTempView('people')

In [17]:
# Run and store the query
results = spark.sql("SELECT * FROM people")

In [20]:
results

DataFrame[age: bigint, name: string]

In [24]:
# display the query result
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
new_results = spark.sql("SELECT age FROM people WHERE age < 20")

In [23]:
new_results.show()

+---+
|age|
+---+
| 19|
+---+